// ========================================= //
//               Base - buttons              //
// ========================================= //

[type="button"] {
	display: flex;
	align-items: center;
	justify-content: center;

	margin: 0;

	border: none;
	border-radius: 9999px;


	font-family: var(--montserrat);
	font-weight: 500;
	line-height: normal;
	text-decoration: none;
	cursor: pointer;

	transition: background-color .25s ease 0s;

	&:focus {
		outline: none;
	}

	&[data-type="primary"] {
		background-color: var(--alt-btn-primary-bg);
		color: var(--alt-btn-primary-text);

		@include hover {
			background-color: var(--alt-btn-primary-bg_hover);
		}
	}

	&[data-type="secondary"] {
		background-color: var(--alt-btn-secondary-bg);
		color: var(--alt-btn-secondary-text);

		@include hover {
			background-color: var(--alt-btn-secondary-bg_hover);
		}

		&:disabled {
			background-color: var(--alt-btn-secondary-bg_disabled);
			color: var(--alt-btn-secondary-text_disabled);

			cursor: not-allowed;
		}
	}

	&[data-type="tretiary"] {
		background-color: var(--alt-btn-tretiary-bg);
		color: var(--alt-btn-tretiary-text);

		transition: background-color .25s ease, color .25s ease;

		@include hover {
			background-color: var(--alt-btn-tretiary-bg_hover);
			color: var(--alt-btn-tretiary-text_hover);
		}
	}

	&[data-size="small"] {
		padding: 0.5rem 1rem;
		font-size: 14px;
	}

	&[data-size="medium"] {
		height: 40px;

		padding: 8px 20px;

		font-size: 16px;
		line-height: 24px;
	}

	&[data-size="large"] {
		padding: 12px 24px;
		font-size: 16px;
	}
}