.menu {
  position: sticky;
  top: -0.1px;
  z-index: 1;

  backdrop-filter: blur(10px);
  background-color: var(--base-neutral-100);

  box-shadow: rgb(6 5 50 / 5%) 0 0 0;

  &_sticky {
    box-shadow: rgb(6 5 50 / 5%) 0px 4px 30px;
  }

  /* .menu__wrapper */
  &__wrapper {
    display: flex;
    align-items: center;

    min-height: 60px;
  }

  /* .menu__brand */
  &__brand {}

  /* .menu__brand-title */
  &__brand-title {}

  /* .menu__ul */
  &__ul {
    display: flex;
    align-items: center;

    height: 100%;
  }

  /* .'menu__link */
  &__link {}
}